
/* 슬라이드 */
.wrap_slide .list_wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.wrap_slide .list_slide img {
    display: block;
    /* margin: 0 auto; */
    /*width: 100%;*/
}
.wrap_slide .list_slide .thumb_slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
}
.wrap_slide .btn_page {
    z-index: 30;
}

/*.main_slide .list_slide,*/
/*.svctop_slide .list_slide,*/
.kSlide .list_slide
{
    padding-top:0;
}

/* slide */
.slide .list_slide {
    width: 300%;
    height: 100%;
}

.slide .list_slide li {
    float: left;
    height: 100%;
}

.slide .list_slide .thumb_slide {
    position: relative;
}

/* fade */
.fade .list_slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fade .list_slide li {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    width: 100%;
    height: 100%;
}

.fade .on {
    opacity: 1!important;
    z-index: 20;
}

/* fade */
.svcFade .list_slide {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*.fade .list_slide{padding-top:56.25%}!* 2017-07-03 *!*/

.has_disabled {
    pointer-events: none;
    cursor: default;
}

/* 추후수정 */
.cont_social .wrap_slide .list_slide .thumb_slide{width:100%}
